body {
    margin: 0;
    height: 100vh;
    background: #06262D;
    color: #d9aa27;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 16px 0;
    color: #d9aa27;
}

#calendar {
    flex: 1;
    padding: 10px;
}

/* Calendar theming */
.fc {
    background: #08333A;
    border-radius: 12px;
    padding: 10px;
}

.fc-toolbar-title {
    color: #f2e6b0;
}

.fc-button {
    background: #0b4650;
    border: none;
    border-radius: 8px;
    color: #f2e6b0;
}

.fc-button:hover {
    filter: brightness(1.2);
}

.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
    color: #f2e6b0;
}

.fc-event {
    background: #d9aa27 !important;
    border: none !important;
    color: #06262D !important;
    font-weight: bold;
}

.subscribe-btn {
    background-color: #d9aa27;
    color: #06262D;
    padding: 12px 22px;

    margin-left: 10px;
    margin-right: 10px;

    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: opacity .2s ease-in-out;
}

.subscribe-btn:hover {
    opacity: 0.8;
}
