html, body
{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #06262D;
    color: #d9aa27; 

    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

h1 
{
    text-align: center;
    margin: 20px;
}

.header 
{
    display: flex;
    align-items: center;   /* vertically align image and text */
    gap: 12px;             /* optional spacing between logo and text */
}

.header img 
{
    height: 60px;          /* optional: keeps logo from being huge */
}

.calendar-container 
{
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Aspect ratio: 4:3 (adjust if needed) */
    height: 0;
    overflow: hidden;
}

.calendar-container iframe 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    border: 0;
}